.social {
	position: relative;
	width: 100dvw;
	height: 100dvh;
	background: url(/images/bg-pattern-top-desktop.svg) top left no-repeat, url(/images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;

	@include breakpoint("small") {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 210vmax;
	}


	&__head {
		// background-color: gray;
		// opacity: 0.2;
		position: absolute;
		width: 50%;
		height: 50%;

		@include breakpoint("small") {
			top: 0;
			width: 100%;
			height: auto;
			text-align: center;
		}


	}

	&__title {
		position: absolute;
		left: 20%;
		color: #502050;
		font-weight: 700;
		font-size: 3.5em;
		line-height: 1;

		@include breakpoint("small") {
			position: static;
		}

	}

	&__desc {
		position: absolute;
		left: 20%;
		top: 60%;
		color: #502050;
		opacity: 0.8;

		@include breakpoint("small") {
			position: static;
		}


	}

	&__rate {
		position: absolute;
		width: 50%;
		height: 50%;
		right: 0;
		text-align: left;
		line-height: 3.4;

		@include breakpoint("small") {
			position: static;
			text-align: center;
			width: 75%;
		}
	}

	&__star {
		color: #D7AA2E;
	}

	&__star-desc {
		color: #502050;
		font-weight: 700;

	}

	&__rate-one {
		background-color: #f7f2f7;
		position: absolute;
		height: 12%;
		top: 20%;
		right: 30%;
		padding: 0 5%;
		border-radius: 5px;

		@include breakpoint("small") {
			position: static;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: 5% 0;
		}


	}

	&__rate-two {
		background-color: #f7f2f7;
		position: absolute;
		height: 12%;
		top: 40%;
		right: 20%;
		padding: 0 5%;
		border-radius: 5px;

		@include breakpoint("small") {
			position: static;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: 5% 0;
		}


	}

	&__rate-three {
		background-color: #f7f2f7;
		position: absolute;
		height: 12%;
		top: 60%;
		right: 10%;
		padding: 0 5%;
		border-radius: 5px;

		@include breakpoint("small") {
			position: static;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: 5% 0;
		}


	}

	&__box {
		position: absolute;
		// background-color: blue;
		// opacity: 0.2;
		color: #fff;
		width: 100%;
		height: 50%;
		bottom: 0;
	}

	&__box-one {
		width: 25%;
		background-color: #502050;
		border-radius: 10px;
		position: absolute;
		left: 10%;
		height: 241px;
		padding: 2%;
	}

	&__box-two {
		width: 25%;
		background-color: #502050;
		border-radius: 10px;
		position: absolute;
		left: 40%;
		top: 10%;
		height: 241px;
		padding: 2%;
	}

	&__box-three {
		width: 25%;
		background-color: #502050;
		border-radius: 10px;
		position: absolute;
		left: 70%;
		top: 20%;
		height: 241px;
		padding: 2%;
	}

	&__box-head {
		position: absolute;
		left: 35%;
		top: 25%;
		margin: 0;
	}

	&__box-head-desc {
		position: absolute;
		color: #ee68a4;
		left: 35%;
		top: 35%;
		font-weight: lighter;
		margin: 0;
	}

	&__image {
		border-radius: 50%;
	}

}